@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

#footer_principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #406343;
    overflow: hidden;
}

#footer_principal section {
    width: 90%;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

#footer_principal footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#menu li{
    display: flex;
    cursor: pointer;
}

#menu li a{
    color:#ECE7B4;
    font-family:'Poppins', sans-serif;
}

#menu li a:hover{
    color: #284a0b;
    font-family:'Poppins', sans-serif;
}

.footer-texto h2, 
.footer-texto p, 
.footer-texto h5, 
.footer-texto ul {
    color:#ECE7B4;
    font-family:'Poppins', sans-serif;
}

.section-footer article {
    padding: 30px;
}

@media (max-width: 550px) {
    article h2 , p, h5, ul {
        margin-left: -40px;
    }
    .icons {
        display: flex;
        flex-direction: row;
        margin-top: 245px;
        margin-left: -25px;
    }
    .icons a{
        margin-left: -125px;
        align-items: center;

    }
    #footer_principal section {
        display: flex;
        justify-content: center;
        margin-left: 41px;
    }

    .footer-texto h5 {
        display: flex;
        margin-left: 15px;
    }

}