@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.tituloproduct{
    display: flex;
    font-size: 20px;
    color: #32502E;
    text-align: center;
    align-items: center;
    font-weight:bold ;

}

.parte1product li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.descricaoproduct{
    display: flex;
    font-size: 15px;
}


.principalproduct {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60vh;
    width: 100%;
}

 .contentproduct {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 140px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px #ECE7B4(0, 0, 0, 0.75);
}

.contentproduct .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
    width: 1500px;
    display: flex;
    bottom: 0px;
    margin-left: 50%;
    margin-top: -130px;
}


.bar1{
    width: 15px;
    height: 15px;
    border: 2px solid #406343;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
    margin-left: -70px;
}
.bar {
    width: 15px;
    height: 15px;
    border: 2px solid #406343;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    
    
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}
#slide2:checked ~ .s1 {
    margin-left: -20%;
}
#slide3:checked ~ .s1 {
    margin-left: -40%;
}
#slide4:checked ~ .s1 {
    margin-left: -60%;
}
#slide5:checked ~ .s1 {
    margin-left: -80%;
}

.botaoproduct{
    display: flex;
    left: -122px;
    margin-top: 3rem !important;
    color: #ECE7B4 !important;
    background-color: #406343 !important;
}
.titleproduct2{
    color: #406343 ;
    font-weight:700 ;
}
.part3product{
    margin-top: -170px;
    background-color: #ECE7B4;
}
.part3product li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;

}

@media (max-width: 600px) {
    .tituloproduct{
        display: flex;
        font-size: 15px;
        color: #32502E;
        text-align: center;
        font-weight:bold ;
        margin-left: 15px;  
    }

        .parte1product li {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1px;
        }
        
        .descricaoproduct{
            display: flex;
            font-size: 12px;
            margin-left: 40px;

    }
    .part3product{
        margin-top: -185px;
        background-color: #ECE7B4;
    }
    .part3product li {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        margin-left: 45px;
    
    }
}