@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.all-cart {
  height: 100%;
  margin-top: 0px;
  padding-bottom: 30px;
  background: #F3EFCC;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #eee #d5d5d5 #eee;

}

.container-cart,
.total-cart {
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Raleway' !important;
  margin: 0 auto;
  width: 80%;
}

.product-cart {

  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #eee #d5d5d5 #eee;
  border-radius: 10px;
  box-shadow: 0 5px 0 rgb(200 200 200 / 20%);
  margin: 25px 0;
  width: 100%;
  height: 194px;
  position: relative;
  -webkit-transition: margin .2s linear, opacity .2s linear;
  -moz-transition: margin .2s linear, opacity .2s linear;
  -ms-transition: margin .2s linear, opacity .2s linear;
  -o-transition: margin .2s linear, opacity .2s linear;
  transition: margin .2s linear, opacity .2s linear;
}

.product-cart header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 24%;
  height: 194px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product-cart header,
.product-name-cart {
  border: 1px solid #ccc;
  border-style: none none solid none;
  float: left;
}

.remove {
  color: rgb(33, 31, 31);
  text-decoration: none;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.img-cart {
  width: 195px;
  height: 195px;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product-cart header:hover .img-cart {
  opacity: .7;
}

.remove-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #406343;
  color: #F3EFCC;
  width: 100%;
  height: 54px;
  margin: 0;
  position: absolute;
  bottom: -65px;
  right: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: bottom .2s linear;
  -moz-transition: bottom .2s linear;
  -ms-transition: bottom .2s linear;
  -o-transition: bottom .2s linear;
  transition: bottom .2s linear;
}

.remove-cart img {
  height: 100%;
}


.product-cart header:hover .remove-cart {
  bottom: 73px;
}

.product-name-cart {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 140px;
  padding: 0 20px;
  width: 75%;
  border-bottom: #ececec double;
  color: #32502E;
}

.product-name-cart h1 {
  color: #32502E;
  font-size: 25px;
  font-weight: 300;
  margin: 17px 0 20px 0;
}

.btns-qntt-cart {
  height: 54px !important;
  margin: 6px 0 0 0;
  padding: 0;
}

.qt-cart,
.qt-plus-cart,
.qt-minus-cart {
  display: block !important;
  float: left !important;
}

.qt-plus-cart,
.qt-minus-cart {
  cursor: pointer;
  background: #fcfcfc;
  border: none !important;
  font-size: 30px !important;
  font-weight: 300 !important;
  height: 100%;
  padding: 0 20px !important;
  line-height: 50px !important;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -ms-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}

.qt-plus-cart:hover,
.qt-minus-cart:hover {
  background: #406343 !important;
  color: #F3EFCC !important;
}

.qt-cart {
  font-size: 19px;
  line-height: 50px;
  width: 70px;
  text-align: center;
  color: #32502E;
}

.full-price-cart {
  background: #32502E;
  border-bottom-right-radius: 10px;
  color: #F3EFCC;
  float: right;
  font-size: 22px;
  font-weight: 300;
  line-height: 54px;
  margin: 0;
  padding: 0 30px;
  -webkit-transition: margin .15s linear;
  -moz-transition: margin .15s linear;
  -ms-transition: margin .15s linear;
  -o-transition: margin .15s linear;
  transition: margin .15s linear;
}

.price-cart {
  background: #fcfcfc;
  color: #32502E;
  float: right;
  font-size: 15px;
  font-weight: 300;
  line-height: 54px;
  margin: 0;
  padding: 0 30px;
}

.total-cart {
  padding-top: 40px;
  background: #F3EFCC;
}

.table-total {
  padding-bottom: 30px;
  width: 100%;
}

.total-order th,
.total-order td {
  background: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #eee #d5d5d5 #eee;
  border-radius: 10px;
  box-shadow: 0 5px 0 rgb(200 200 200 / 20%);
  font-size: 24px;
  font-weight: 300;
  padding: 14px 40px;
  text-align: center;
  color: #32502E;
}

.btn-cart-back {
  background: #406343;
  margin: auto;
  border: 1px solid #999;
  border-style: none none solid none;
  display: block;
  padding: 16px 0;
  border-radius: 7px;
  width: 290px;
  height: 20px;
  border-radius: 7px;
}

.button-back {
  color: #F3EFCC !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.btn-cart-back:hover {
  color: #fff !important;
  background: #263c28;
}

/* For the banner */

.banner-cart img {
  width: 100%;
}


/* Responsivity for mobile devices 550px*/

@media (max-width: 550px) {
  .product-cart {
    height: 224px;
  }

  .product-cart header {
    height: 224px;
  }

  .img-cart {
    width: 105px;
    height: 105px;
  }

  .remove-cart {
    top: 70%;
    height: 33px;
  }

  .qt-plus-cart,
  .qt-minus-cart {
    color: #406343;
    margin: 0 0px 0px 5px;
    border-radius: 3px;
  }

  .qt-plus-cart:hover,
  .qt-minus-cart:hover {
    background: none !important;
    color: #406343 !important;
  }

  .qt-plus-cart {
    margin: 0 30px 0px 0px;
  }

  .qt-cart {
    width: 50px;
  }

  .full-price-cart {
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
  }

  .price-cart {
    background: none;
    font-weight: 200;
    line-height: 25px;
    padding: 0 15px;
  }

}