.toolbar {
    background-color: #406343;
    height: 10vh;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 500px;

}


.txtMenu {
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding-right: 30px;

    color: #ECE7B4;
    text-decoration: none;
    transition: 0.3s;
}

.txtMenu:hover {
    opacity: 0.5; 
}