* {
    /* responsavel por todo site*/
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    color: #ECE7B4;
    text-decoration: none;
    transition: 0.5s; /* responsavel pelo tempo que os elementos da nav mudam de cor  */
}

a:hover {
    opacity: 0.5; /* responsavel pela opacidade dessa mudança de cor*/
}

.nav-logo{
    display: flex;
    width: 175px; /* tamanho da logo */
    margin-top: 10px;
    margin-left: -5px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #406343;
    height: 10vh; /* responsavel pela altura e reponsavidade da tela do usuario*/
}

.nav-list{
    display: flex;
    margin-right: 20px;
    list-style: none;
    display: flex;
    margin-top: 15px;
}

.nav-list li {
    display: flex;
    letter-spacing: 3px;
    margin-left: 30px;
}

.nav-list img {
    display: flex;
    margin-top: -8px;
    width: 40px;
    background-color: #ECE7B4;
    border-radius: 50%;
    
}
/*
.mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 20px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #ECE7B4;
    margin: 7px;
    transition: 0.5s;

}

/*
@media (max-width: 999px){
    body{
        overflow-x: hidden; 
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 45vh;
        background-color: #406343;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(100%); 
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        padding: 10px;
        margin-top: 20px;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  } */

@media (max-width: 999px) {
    .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 30px;

    }
    
    .nav-list img {
        display: flex;
        width: 55px;
        height: 55px;
        margin-top: -80px;
        margin-left: 120px;
    }

    .nav-logo{

        margin-top: 25px;
        margin-left: 5px;
    }
}