@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* For the header */
.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 100%;
    height: 220px;
    opacity: 66%;
}


.top h2 {
    position: absolute;
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #32502E;
    padding: 6px;
    border: #32502E double 10px;
    text-transform: uppercase;

}


/* For the categories */
.main-categories {
    background-color: #F3EFCC;
}

.top-categories {
    margin-top: 25px;
    margin-left: 55px !important;
    margin-right: 55px;
    padding: 0px 55px;    
    margin-bottom: 50px;
}

.container-prod {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row {
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    
}

.slider-items {
    position: relative;
    z-index: 1000;
    padding-bottom: 30px;
    background-color: #F3EFCC;
}

.title-categories {
    margin: 0 auto 10px;
    text-align: left;
    text-transform: none;
    border-bottom: 1px #40634313 solid;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.title-categories h2 {
    color: #F3EFCC;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Raleway';
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: #32502E;
    margin-top: 0px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
}

.imgs-item {
    float: left;
    width: 190px;
}

.item {
    text-align: center;
    margin: 0 15px;
}

.img-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-main a {
    border-radius: 50%;
}

.img-main img {
    position: relative;
    border-radius: 150px;
    width: 120px;
    height: 120px;
    border: 5px #406343 solid;
    /* border: 5px #ECE7B4 solid; */
    margin-top: 20px;
    display: inline-block;
}

.img-info {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: normal;
    margin: auto;
    padding-top: 6px;
    text-transform: uppercase;
    font-family: 'Raleway';
}

.img-info a {
    color: #32502E;
    text-decoration: none;
    justify-content: center;
    font-family: 'Raleway';
}

.img-info a:hover {
    color: rgb(188, 75, 22);
    text-decoration: none;
    outline: none;
}

.img-main img:hover {
    transform: rotate(-360deg);
    transition: all 0.5s ease-in-out 0s;
    -webkit-transform: rotate(-360deg);
    -webkit-transition: all 0.5s ease 0s;
    cursor: pointer
}

/* For the main products */
.section2 {
    background-color: #ECE7B4;
}

.img-products img{
    height: 1000px;
}

.alinhamento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardproducts{
    width: 300px;
}

.imageProducts{
    width: 100%;
    height: 300px;
}

.nameProducts{
    display: flex;
    justify-content: center;
    font-family: 'Raleway' !important;
    font-size: 40px !important;
}

.priceProducts{
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 20px;
}

.text-decorator-none{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-products{
    background-color: #32502E !important;
    color: #ECE7B4 !important;
    font-family: 'Raleway' !important;
    font-weight: bold !important;
}