* {
    /* responsavel por todo site*/
    margin: 0;
    padding: 0;
}

.nav-list li a {
    display: flex;
    color: #ECE7B4;
    text-decoration: none;
    transition: 0.5s; /* responsavel pelo tempo que os elementos da nav mudam de cor  */
}

li img:hover {
    opacity: 0.5; /* responsavel pela opacidade dessa mudança de cor*/
}

.text:hover {
    opacity: 0.5;
}


.nav-logo{
    display: flex;
    width: 185px; /* tamanho da logo */
    margin-top: 1px;
    margin-left: -5px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #406343;
    height: 10vh; /* responsavel pela altura e reponsavidade da tela do usuario*/
}

.nav-list{
    display: flex;
    margin-right: 20px;
    list-style: none;
    display: flex;
    margin-top: 15px;
}

.nav-list li {
    display: flex;
    letter-spacing: 3px;
    margin-left: 30px;
}

.nav-list img {
    display: flex;
    margin-top: -8px;
    width: 40px;
    height: 40px;
    background-color: #ECE7B4;
    border-radius: 50%;
    
}

 li .logout {
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 999px) {

    nav{
        height: 17vh;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        margin-top: 1px;
    }
    ul .text {
        margin-left: -75px;
    }

    .nav-list img{
        width: 30px;
        height: 30px;
    }

    .text {
        margin-top: 1px;
    }

    
    ul li .icon2 {
        margin-top: -95px;
        margin-left: 10px;
    }

    ul li .icon{
        margin-top: -60px;
        margin-left: 10px;
    }
    
    ul li .logout {
        width: 20px;
        height: 20px;
        margin-top: -25px;
        margin-left: 10px;
    }


}