.register-user-background{
    background-color: #F3EFCC;
}

.img-register-user{
    background-image: url(https://i.imgur.com/mOpndcc.jpeg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: block;
}
.logo-register-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.logo-img{
    height: 100%;

}

.cadastre-se {
    font-family: 'Raleway' !important;
    font-size: 50px !important;
    color: #32502E !important;
    font-weight: bold !important;
    margin-top: 20px !important;
}

.btn-cadastrar {
    background-color: #32502E !important;
    color: #ECE7B4 !important;
    font-family: 'Raleway' !important;
    font-weight: bold !important;
}

.tipoUsuario{
    padding-top: 15px !important; 
}

.tipoUsuario2{
    padding-top: 15px !important; 
}

@media (max-width: 800px) {
    .img-register-user{
        display: none;
    }

    .cadastre-se {
      
        font-size: 25px !important;
        color: #32502E !important;
        margin-top: 20px !important;
        margin-left: -80px !important;
        width: 200px;
    }

    .formulariocadastro {
        margin-left: -100px !important;
        width: 250px !important;
    }

    .tipoUsuario {
        margin-left: -100px !important;
        width: 250px !important
    } 
    .btn-cadastrar{
        margin-left: 60px !important;
    }

}
