@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container{
    position: relative;
    width: 100%;
    height: 700px;
    background: ECE7B4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("https://i.imgur.com/1LwQagt.jpeg%22") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }
  
  .social a{
      padding: 20px;
      color:#011e04;
      font-size:1.1rem;
  }
  #contact{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      align-items: center;;
  }
  .social{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #32502E;
      border-radius: 15px;
      box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  }
  
  .contact-box{
      background-color: #406343;
      display: flex;
      height: 600px;
      border-radius: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 30px;
      box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
  }
  .c-heading h1{
      font-family: 'Raleway' !important;
      font-size: 35px !important;
      color:#F3EFCC;
      font-size: 2.5rem;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-bottom: 20px;
     
  }
  .c-heading p{
      font-family: 'Raleway' !important;
      font-size: 20px !important;
      color:#F3EFCC;
      font-size: 0.8rem;
      font-weight: lighter;
      margin: 0px;
      text-align: center;
  }
  .c-inputs{
      margin: 15px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }
  .c-inputs input{
      width:250px;
      height: 45px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(251,251,251,0.1);
      outline: none;
      margin: 10px 0px;
      padding: 10px;
      box-sizing: border-box;
      color: #ECE7B4;
      font-family: 'Raleway' !important;
      display: flex;
  }
  .c-inputs textarea{
      width:250px !important;
      height: 200px !important;
      outline: none;
      background-color: transparent;
      border:1px solid rgba(82,82,82,1);
      color: #ECE7B4;
      font-family: 'Raleway' !important;
      padding: 10px;
      font-size: 1.2rem;
      box-sizing: border-box;
  }
  .c-inputs button{
      width: 120px;
      height: 40px;
      background-color: #32502E;;
      color: #F3EFCC;
      font-size: 1.1rem;
      padding-top: 5px;
      margin-top: 20px;
      border-radius: 10px;
      cursor: pointer;
      transition: .3s;
      display: flex;
      flex-direction: column;
  }
  
  button:hover{
      background-color: #011e04;
  }
  
  .c-inputs input:focus{
      border-bottom: 1px solid rgba(252,252,252,1.00);
      transition: all ease 0.5s;
  }
  .c-inputs textarea:focus{
      border: none;
      border-bottom: 1px solid rgba(255,255,255,1.00);
      transition: all ease 0.5s;
      background-color: rgba(0,0,0,0.1);
  }
  .c-inputs button:active{
      transform: scale(1.02);
  }
  
  @media(max-width:450px){
      .social{
          display: none;
      }
      .contact-box{
          width: 100%;
          height: 100vh;
          box-sizing: border-box;
      }
      #contact{
          position: static;
          transform: translate(0,0);
          width:100%;
          height: 100vh;
          box-sizing: border-box;
      }
      .c-heading h1{
          font-size: 2.2rem;
          text-align: center;
      }
  }