@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.grid-container-1 {
    background: #F3EFCC;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.logo {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.sobre-a-easy-food {
    padding: 30px 30px 30px;
    font-family: 'Raleway' !important;
    font-size: 35px !important;
    color: #32502E;
    display: flex;
    justify-content: center;
    font-weight: bold !important;
}

.arabesco img {
    width: 200px;
}

.txt-sobre {
    color: #32502E !important;
    font-family: 'Raleway' !important;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    line-height: 24px !important;
    letter-spacing: 3px !important;
}

.grid-images {
    background-color: #ECE7B4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fluxogramas {
    width: 632px;
    height: 504px;
}

.grid-container-2 {
    background: #F3EFCC;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.o-que-defendemos {
    padding: 30px 30px 30px;
    font-family: 'Raleway' !important;
    font-size: 35px !important;
    color: #32502E;
    display: flex;
    justify-content: center;
    font-weight: bold !important;
}

.txt-o-que-defendemos {
    color: #32502E !important;
    font-family: 'Raleway' !important;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    line-height: 24px !important;
    letter-spacing: 3px !important;
}