@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.fundo {
    background-image: #ECE7B4;
}

.imagem {
    width: 100% !important;
    height: 100% !important;
}

.titulo {
    color: #32502E !important;
    font-size: 50px;
    font-family: 'Raleway' !important;
    text-align: left !important;
    margin-top: 10%;
}

.texto {
    color: #32502E !important;
    font-size: 30px;
    font-family: 'Raleway' !important;
    text-align: left !important;
    margin-top: 10%;
}

.logo {
    width: 100%;
    height: 100%;
}