.admin-page {
    background-color: #F3EFCC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.title-admin {
    padding: 40px !important;
}

.btns-admin {
    margin: 20px !important;
    width: 150px;
    color: #F3EFCC !important;
    background-color:#406343 !important;
}

.text-decorator-none {
    text-decoration: none;
}


