.imagem2{
    background-image: url(https://i.imgur.com/qIa4hlB.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.background{
    background-color: #F3EFCC
}

.buttonColor1{
    background-color: #32502E!important;
    color: #ECE7B4!important;
    align-items:flex-start
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}